<!DOCTYPE html>
<html>

<head>
	<title>SparkGS: The Gosu Web Microframework</title>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="/js/google-code-prettify/prettify.js"></script>

	<link href='//fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/google-code-prettify/prettify.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>


	<div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Spark<span class='g2'>G</span><span class='s2'>S</span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Why?</a></li>
            <li><a href="#">Docs</a></li>
            <li><a href="#">Download</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="/blog.html"><i class="fa fa-github"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </div>

		{{ content }}

    <hr/>

		<footer>
			<p>&copy; SparkGS 2014</p>
		</footer>

	</div> <!-- /container -->

	<script>
  	prettyPrint();
	</script>
</body>
</html>

