<!DOCTYPE html>
<html>

<head>
	<title>SparkGS: The Gosu Web Microframework</title>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="/js/google-code-prettify/prettify.js"></script>

  <link rel="shortcut icon" href="/img/bolt-only.png">
	<link href='//fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/img/large-logo-no-bolt.png" style="width:100px"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/why.html">Why?</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle"
                 data-toggle="dropdown"
                 href="#">Docs
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/docs.html">Getting Started</a>
                </li>
                <li>
                  <a href="/docs.html#routes">Defining Routes</a>
                </li>
                <li>
                  <a href="/docs.html#requests">Requests</a>
                </li>
                <li>
                  <a href="/docs.html#responses">Responses</a>
                </li>
                <li>
                  <a href="/docs.html#templates">Templates</a>
                </li>
                <li>
                  <a href="/docs.html#cookies">Cookies</a>
                </li>
                <li>
                  <a href="/docs.html#config">Configuration</a>
                </li>
                <li>
                  <a href="/docs.html#advanced_routing">Advanced Routing</a>
                </li>
                <li>
                  <a href="/docs.html#heroku">Heroku</a>
                </li>
                <li>
                  <a href="/docs.html#examples">Examples</a>
                </li>
              </ul>
            </li>
            <li><a href="/download.html">Download</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/sparkgs/sparkgs"><i class="fa fa-github"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </div>

		{{ content }}

    <hr/>

		<footer>
			<p>&copy; SparkGS 2014</p>
		</footer>

    
	</div> <!-- /container -->

	<script>
  	prettyPrint();
	</script>
</body>
</html>

